body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #ffffff url(../img/geometry2.png);
}

div,
p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game__title {
    text-align: center;
    font-weight: 300;
    padding: 0 auto;
}

/* SCORE PANEL STYLES */

.score__display{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.rating{
    display: flex;
    list-style-type: none;
}

.reset{
    cursor: pointer;
}

/* Game board styles */

.container{
    background: linear-gradient(to right bottom, #4ad5df, #266488);
    padding: 2em;
    width: 660px;
    min-height: 680px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-evenly;
    perspective: 500px;
}

.card{
    height: 125px;
    width: 125px;
    background-color: rgb(47, 64, 71);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform-origin: 50% 100% 0;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 0;
    transform: rotateY(180deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.open {
    transform: rotateY(0deg);
    background-color: #02b3e4;
    cursor: default;
}

.card.show {
    font-size: 33px;
}

.card.match{
    background-color: rgb(19, 206, 190);
    cursor: default;
    font-size: 30px;
    animation: cardmatch 0.3s cubic-bezier(1, 0, 0, 1);
}

.card.notmatch{
    background-color: #d87b25;
    animation: shake 0.3s ease-in-out;
}

.hide{
    display: none;
}

@keyframes shake {
    0%, 100%{
    transform: rotate(-8deg);
    }
    50%{ 
    transform: rotate(6deg);
    }
}

@keyframes cardmatch {
    30%{
        transform: scale3d(1.5, 0.5, 0.7);
    }
    80%{
        transform: scale3d(0.5, 1.2, 1.1);
    }
}
/* MSGBOX STYLES */
.msgbox{
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.2em;
    justify-content: center;
    color: #333;
}

.msgbox h1{
    margin-top: 10px;
}

svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
}
  
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.circle {
    animation: dash .9s ease-in-out;
}

.line {
    stroke-dashoffset: 1000;
    animation: dash .9s .35s ease-in-out forwards;
}

.check {
    stroke-dashoffset: -100;
    animation: dash-check .9s .35s ease-in-out forwards;
}
  
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

.final__scores{
    font-weight: 200;
    margin: 20px auto;
    color: #555;
    text-align: center;
}

.playagain__btn{
    background-color: #02ccba;
    color: white;
    padding: 15px 24px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}